flows.json
[{"id":"af42a1b8.a3998","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3d947e54.7078e2","type":"ui_form","z":"af42a1b8.a3998","name":"","label":"","group":"20a50f45.d3f8a","order":0,"width":0,"height":0,"options":[{"label":"Enter Name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","password":""},"payload":"","submit":"create","cancel":"cancel","topic":"","x":70,"y":140,"wires":[["c3ea7d25.bd48e","6066df5f.35e15"]]},{"id":"c3ea7d25.bd48e","type":"debug","z":"af42a1b8.a3998","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":230,"y":60,"wires":[]},{"id":"6066df5f.35e15","type":"function","z":"af42a1b8.a3998","name":"","func":"msg.payload={\n    id:msg.payload.email,\n    Name:msg.payload.name,\n    Emailid:msg.payload.email,\n    password:msg.payload.password,\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":180,"wires":[["4f12069d.37e0c8"]]},{"id":"4f12069d.37e0c8","type":"cloudant out","z":"af42a1b8.a3998","name":"cloudant","cloudant":"","database":"abc","service":"node-red-nmree-2020--cloudant-1597729074390-64901","payonly":true,"operation":"insert","x":440,"y":180,"wires":[]},{"id":"a0afeb59.113a48","type":"ui_form","z":"af42a1b8.a3998","name":"","label":"","group":"4bcaf666.299658","order":0,"width":0,"height":0,"options":[{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":320,"wires":[["bd25c2c2.fad44"]]},{"id":"bd25c2c2.fad44","type":"function","z":"af42a1b8.a3998","name":"","func":"global.set('emailid',msg.payload.email);\nglobal.set('password',msg.payload.password);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":320,"wires":[["ed6120fe.04028"]]},{"id":"ed6120fe.04028","type":"function","z":"af42a1b8.a3998","name":"","func":"var emailid=global.get('emailid');\n\nmsg.payload=\"emailid:\"+emailid;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":320,"wires":[["5d7e9ac.e688964"]]},{"id":"5d7e9ac.e688964","type":"cloudant in","z":"af42a1b8.a3998","name":"","cloudant":"","database":"abc","service":"node-red-nmree-2020--cloudant-1597729074390-64901","search":"_idx_","design":"user","index":"user","x":490,"y":320,"wires":[["929ba344.fb8d4"]]},{"id":"929ba344.fb8d4","type":"function","z":"af42a1b8.a3998","name":"","func":"if(msg.payload[0].password===global.get('password')){\n    msg.payload='Login Succesfull';\n    \n}\nelse{\n    msg.payload='Login Failed';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":320,"wires":[["9df5ca68.4f80e8"]]},{"id":"9df5ca68.4f80e8","type":"ui_text","z":"af42a1b8.a3998","group":"4bcaf666.299658","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":320,"wires":[]},{"id":"72462050.48404","type":"ui_form","z":"af42a1b8.a3998","name":"","label":"","group":"609ca6d1.2e8738","order":1,"width":0,"height":0,"options":[{"label":"User input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":520,"wires":[["4d9ee1da.e777c"]]},{"id":"4d9ee1da.e777c","type":"function","z":"af42a1b8.a3998","name":"","func":"msg.payload = msg.payload.input\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":520,"wires":[["81587ad3.29e9b8"]]},{"id":"81587ad3.29e9b8","type":"watson-conversation-v1","z":"af42a1b8.a3998","name":"","workspaceid":"a71ac4d7-01bb-4d2b-a848-e864cc77d352","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/52ba9d50-1df7-4a19-ab85-477d6c650960","timeout":"","optout-learning":false,"x":420,"y":520,"wires":[["9c58519a.5179e","c0bf43c1.cc3f1"]]},{"id":"9c58519a.5179e","type":"debug","z":"af42a1b8.a3998","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":590,"y":460,"wires":[]},{"id":"c0bf43c1.cc3f1","type":"function","z":"af42a1b8.a3998","name":"","func":"msg.payload=msg.payload.output.generic[0].text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":520,"wires":[["a7a38ac6.c2b028","c97bc568.fe2c28"]]},{"id":"a7a38ac6.c2b028","type":"ui_text","z":"af42a1b8.a3998","group":"609ca6d1.2e8738","order":2,"width":"4","height":"3","name":"","label":"Bot response","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":520,"wires":[]},{"id":"c97bc568.fe2c28","type":"ui_audio","z":"af42a1b8.a3998","name":"","group":"609ca6d1.2e8738","voice":"","always":"","x":800,"y":580,"wires":[]},{"id":"20a50f45.d3f8a","type":"ui_group","z":"","name":"Reg form","tab":"33e1104a.63031","order":1,"disp":true,"width":"6","collapse":false},{"id":"4bcaf666.299658","type":"ui_group","z":"","name":"Second form","tab":"3a3ee65d.63c9ea","order":1,"disp":true,"width":"6","collapse":false},{"id":"609ca6d1.2e8738","type":"ui_group","z":"","name":"Bot","tab":"5ec30264.44d16c","order":1,"disp":true,"width":"6","collapse":false},{"id":"33e1104a.63031","type":"ui_tab","z":"","name":"Registration Page","icon":"dashboard","disabled":false,"hidden":false},{"id":"3a3ee65d.63c9ea","type":"ui_tab","z":"","name":"Second page","icon":"dashboard","disabled":false,"hidden":false},{"id":"5ec30264.44d16c","type":"ui_tab","z":"","name":"CustomerHelp","icon":"dashboard","disabled":false,"hidden":false}]